version: "3.8"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: sckool_elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false # Отключаем security для упрощения (для локальной разработки)
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m" # Ограничиваем память
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    networks:
      - elastic_network

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.0
    container_name: sckool_kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601" # Kibana UI
    depends_on:
      - elasticsearch
    networks:
      - elastic_network

volumes:
  elasticsearch_data:
    driver: local

networks:
  elastic_network:
    driver: bridge
